<h1>Listing orders</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Paytype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.pay_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>





